body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	width: 100%;
	border:25px;
	margin: auto;
	max-width: auto;
	padding: 10px 10px 10px 10px;
	background-color: rgb(207, 206, 188);
	line-height: 1.8;
}
.main {
	max-width: 900px;
	margin: auto;
	background: white;
	padding: 20px;}


h1{text-align:center;
   font-size:200%;
   font-family: 'Courier New', Courier, monospace;
}


img{
	display: inline-block;
	margin: auto;
	padding:0 25px 25px 0;
	border-radius:25px;
	overflow:auto;
}

nav{
	box-sizing: border-box;
	display:block;
	text-align:center;
    font-family: 'Courier New', Courier, monospace;
	border: 50px;
	background-color: darkkhaki;
	color:darkslategray;
	border-radius: 25px;
	overflow:auto
	height: 300px;
	width:auto;
}

nav a{
	box-sizing:border-box;
	display:inline-block;
	height:60px;
	color:white;
	background-color:rgb(136, 131, 69);
	text-decoration:uppercase;
	text-align:center;
	margin:20px 50px 20px 50px;
	padding:20px;
	border:10px;
	border-radius: 25px;
	-webkit-transition: width 1.5s, height 1s; 
	transition: width 1.5s, height 1s;
}

nav a:hover{
	background-color:white;
	color:darkslategray;
	width:150px;
	height:70px;
}

footer{
	text-align:center;
	clear:both;
	border-top:1px solid darkgray;
	margin-top:20px;
}